<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">Thông tin</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="about.close()"><i class="fa fa-close"></i></button>
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="text-center">
            <h2 class="text-center">Team thực hiện </h2>
            <ul>
                <li> Nguyễn Khank </li>
            </ul>
            <img class="img-responsive" src="img/tui.jpg" />
        </div>
    </ion-content>
</ion-modal-view>
