<ion-view view-title="Trang chủ">
    <ion-content>

        <div class="b-row">
            <div class="col-lg-4 col-md-5 col-sm-12">
                <h1 class="text-center padding-top">NÓI LÁI</h1>
                <div class="text-center">
                    <img src="img/logo.jpg" class="img-responsive" />
                    
                    <em> Được phát triển bới Meditek</em>
                </div>

            </div>
            <div class="col-lg-8 col-md-7  col-sm-12">
                <div class="b-row center-block">
                    <div class="col-xs-6"> 
                        <div class="text-center"> 
                            <div class="menu-box border">
                                <img src="img/icon-book.png" class="img-responsive" />
                                <h3 class="title">Từ điển</h3>
                            </div>
                        </div>  
                    </div>

                    <div class="col-xs-6"> 
                        <div class="text-center"> 
                            <div class="menu-box border">
                                <img src="img/icon-book.png" class="img-responsive"  />
                                <h3 class="title">Từ điển</h3>
                            </div>
                        </div>  
                    </div>

                    <div class="col-xs-6"> 
                        <div class="text-center"> 
                            <div class="menu-box border">
                                <img src="img/icon-book.png" class="img-responsive"  />
                                <h3 class="title">Từ điển</h3>
                            </div>
                        </div>  
                    </div>

                    <div class="col-xs-6"> 
                        <div class="text-center"> 
                            <div class="menu-box border">
                                <img src="img/icon-book.png" class="img-responsive"  />
                                <h3 class="title">Từ điển</h3>
                            </div>
                        </div>  
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
